@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #ffffff;
	--secondary-color: #F48403;
	--main-bg: #2C2930;
	--secondary-bg: #232229;
	--card-gradient: linear-gradient(0deg, rgba(196, 196, 196, 0.2) -79.96%, rgba(196, 196, 196, 0.0877044) 6.86%, rgba(196, 196, 196, 0) 78.31%);
}

.dark-section {
	display: flex;
	justify-content: center;
	background: var(--secondary-bg)
}

.card-gradient {
	background: var(--card-gradient);
}

.accent-color {
	color: var(--secondary-color);
}

body {
	color: var(--primary-color);
	background: var(--main-bg);
	font-family: Roboto, Helvetica, sans-serif;
}
